@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    /*Assegura que padding e margin sejam 
    incluidos nas dimensoes totais do elemento*/
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-color: #ffffff;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    padding: 15px;
    color: rgb(255, 255, 255);
    align-items:center; 
    justify-content: space-between;
}
.img_star {
    height: 50px;
    width: 50px;
}

.img_bucks {
    height: 60px;
    width: 150px;
}

.alinhamento{
    display: flex;
    align-items: center;
}
.conteudo_menu {
    padding: 10px;
    color: #000000;

}

.conteudo_nosso_cafe {
    padding: 10px;
    color: #000000;

}

.conteudo_impacto {
    padding: 10px;
    color: #000000;

}

.conteudo_localizacao {
    font-size: 20px;
    align-items: center;
    color: #000000;
}

.loc {
    display: flex;
    align-items: center;
    margin: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.fundo_cabecalho {
    background-color: #ffffff;
    display: flex;
    align-items:center; 
    justify-content: space-between;
    font-size: 12px;
    margin: auto;
    
}

.banner-starbucks {
    max-width: 100%;
    margin: 2%;
}

.post1 {
    background-color: #c2ded2;
    padding: 70px;
    margin: 2%;
}

.int_post1 {
    color: #1e3932;
    text-align: center;
    font-size: 20px;
}

.rodape-card {
    background-color: #22ab87;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.botao-card {
    text-decoration: none; /*Remove a decoração de linha*/
    color: white;
    border-radius: 8px;
    padding: 7px 0.7px;
    /*Permite definir largura e altura, alinha elementos na mesma linha*/
    display: inline-block;
    background-color: #c2ded2;
    text-align: center;
    cursor: pointer;
    margin: 0.2px;
}

.botao-card:hover {
    background-color: rgb(197, 211, 198);
}


















.banner-cafe > img {
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0,0,0, 0.5);
    border-radius: 2px;
    opacity: 0.7;
}

.banner-novidades{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 6rem;
    display: flex;
    justify-content: space-between;
}

.banner-conteudo {
    /*Organizamos o conteúdo em coluna*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner-imagens {
    /*Definir largura máxima*/
    max-width: 45%;
    /*Exibir as imagens em 4 colunas*/
    column-count: 4;
}

.banner-imagens > figure > img{
    width: 100%;
    border-radius: 5px;
}

/*Criando scrool para cards*/

.card-novo {
    display: flex;
    overflow: scroll;
    gap: 3rem;
    max-width: 1120px;
    margin: auto;
}

/*Removendo a barra de scrool*/
.card-novo::-webkit-scrollbar {
    display: none;
}

.receitas {
    /*Organizando em colunas*/
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2.5rem 2rem;
    margin: auto;
}

.cabecalho-card {
    background-color: #534743;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 0px 20px rgba(255,255,255, 0.7);
    max-width: 260px;
}

.rodape-card {
    background-color: #534743;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    width: 80px;
    background-color: #A45A49;
    color: #F7DC6F;
}

/*Mapa*/

.mapa {
    max-width: 1120px;
    width: 600px;
    height: 400px;

    /*Aplica papel de parede a nossa div*/
    background-image: url('../img/mapaa.gif');
    background-repeat: no-repeat;
    /*Aplica tamanho da imagem em todo o espaço*/
    background-size: cover;
    margin: 20px auto;
    position: relative;
    
}

.icone {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff6347;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.icone1 {
    top: 145px;
    left: 350px;
}

.icone2 {
    top: 130px;
    left: 100px;
}

/*Crindo um elemento que não irá aparecer na tela*/
.div-hover {
    /*Escondendo a imagem*/
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div-hover {
    /*Mostrando a imagem*/
    display: block;
    position: fixed;
    top: 15%;
    left: 37%;
    

}
